  
  .back-button {
    position: absolute;
    top: 16px;
    left: 16px;
    background-color: #2563eb; /* azul fuerte */
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 999px; /* botón completamente redondeado */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .back-button:hover {
    background-color: #1d4ed8; /* azul más oscuro al hacer hover */
  }

  .input-error {
  border: 2px solid red;
  background-color: #ffe5e5;
}

.error-message {
  color: red;
  font-size: 0.8rem;
  margin: 0.2rem 0 1rem 0;
}