/* UserFood.css */

.user-food-container {
  min-height: 100vh;
  background: linear-gradient(to bottom right, #f3f4f6, #eff6ff);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-food-title {
  font-size: 32px;
  font-weight: 700;
  color: #1f2937;
  margin-bottom: 24px;
}

.user-food-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 320px;
  width: 100%;
  background-color: #ffffff;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.user-food-form input {
  padding: 12px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 16px;
}

.user-food-form button {
  padding: 12px;
  background-color: #2563eb;
  color: #ffffff;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.user-food-form button:hover {
  background-color: #1e40af;
}

.user-food-form select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}


.user-food-container {
  position: relative; /* necesario para posicionar el botón dentro */
  min-height: 100vh;
  background: linear-gradient(to bottom right, #f3f4f6, #eff6ff);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-food-table-container {
  width: 100%;
  max-width: 960px; /* Controla el tamaño máximo de la tabla */
  margin: 0 auto; /* Esto centra el contenedor en la página */
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-top: 24px;
  text-align: center; /* Centra el contenido, incluido el título */
}

.user-food-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 16px;
}

.user-food-table th,
.user-food-table td {
  padding: 12px;
  text-align: left;
  font-size: 16px;
}

.user-food-table th {
  background-color: #2563eb;
  color: #ffffff;
  font-weight: 600;
  border-radius: 8px 8px 0 0;
}

.user-food-table tr:nth-child(even) {
  background-color: #f9fafb;
}

.user-food-table tr:hover {
  background-color: #eff6ff;
}

.user-food-table td {
  border-bottom: 1px solid #e5e7eb;
}

.user-food-table .button-container {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.user-food-table .button-container button {
  padding: 8px 16px;
  background-color: #2563eb;
  color: #ffffff;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.user-food-table .button-container button:hover {
  background-color: #1e40af;
}

.back-button {
  padding: 8px 16px;
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 16px;
  font-weight: 600;
}

.back-button:hover {
  background-color: #1e40af;
}

h1 {
  /* font-weight: 700; Negrita */
  color: #2563eb;   /* Azul */
  /* margin-bottom: 24px; Espaciado debajo */
}